{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/datatables.html.twig" as tables %}

{% block page_title %}{{ 'Custom CSS'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'custom_css.subtitle'|trans }}{% endblock %}

{% block main %}

    <script type="text/javascript">
        function addCustomCssRuleToBox(ruleName)
        {
            var cssRules = {
                {% for groupName, rules in rulesets %}
                    {% for ruleName, ruleContent in rules %}
            '{{ groupName }}_{{ ruleName }}': '{{ ruleContent|escape('js') }}',
                    {% endfor %}
                {% endfor %}
                'lastone': ''
            };

            var humanRuleName = "[" + ruleName.replace('_', '] ');
            var header = "/* START " + humanRuleName + " */";
            var footer = "/* END " + humanRuleName + " */";
            var ruleRegexp = new RegExp(header.replace(/[*[\]]/g, '\\$&') + '[^]*?' + footer.replace(/[*[\]]/g, '\\$&'))
            var customCss = $('#custom_css_customCss').val();
            var newCss = header + "\n" + cssRules[ruleName].trim() + "\n" + footer;

            if (ruleRegexp.test(customCss) && confirm(humanRuleName + " is already in your Custom CSS replace it? If not it will be appended.")) {
                customCss = customCss.replace(ruleRegexp, newCss);
            } else {
                customCss = customCss + "\n" + newCss + "\n";
            }

            $('#custom_css_customCss').val(customCss);

            return false;
        }
    </script>

    {% embed '@theme/embeds/card.html.twig' with {boxtype: 'default'} %}
        {% block box_title %}{{ 'custom_css.add_predefined_rule'|trans }}{% endblock %}
        {% block box_body %}
            <div class="d-flex">
            {% for groupName, rules in rulesets %}
                <div class="dropdown me-2">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ groupName }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for ruleName, ruleContent in rules %}
                            <li><a class="dropdown-item" href="#" onclick="return addCustomCssRuleToBox('{{ groupName }}_{{ ruleName }}')">{{ ruleName }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}

    {{ include('default/_form.html.twig', {
        'title': ('custom_css.add_rule_help'|trans),
        'form': form,
    }) }}
{% endblock %}
