{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/datatables.html.twig" as tables %}

{% block page_title %}{{ 'Custom CSS'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'custom_css.subtitle'|trans }}{% endblock %}

{% block main %}

    <script type="text/javascript">
        function addCustomCssRuleToBox(ruleName)
        {
            var cssRules = {
                {% for groupName, rules in rulesets %}
                    {% for ruleName, ruleContent in rules %}
            '{{ groupName }}_{{ ruleName }}': '{{ ruleContent|escape('js') }}',
                    {% endfor %}
                {% endfor %}
                'lastone': ''
            };

            var header = "/* START [" + ruleName.replace('_', '] ') + " */";
            var footer = "/* END [" + ruleName.replace('_', '] ') + " */";

            $('#custom_css_customCss').val($('#custom_css_customCss').val() + "\n" + header +"\n" + cssRules[ruleName] + "\n" + footer + "\n");

            return false;
        }
    </script>

    {% embed '@AdminLTE/Widgets/box-widget.html.twig' with {boxtype: 'default'} %}
        {% block box_title %}{{ 'custom_css.add_predefined_rule' | trans }}{% endblock %}
        {% block box_body %}
            {% for groupName, rules in rulesets %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ groupName }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                {% for ruleName, ruleContent in rules %}
                    <li><a href="#" onclick="return addCustomCssRuleToBox('{{ groupName }}_{{ ruleName }}')">{{ ruleName }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    {{ include('default/_form.html.twig', {
        'title': 'action.edit' | trans,
        'form': form,
    }) }}
{% endblock %}
